<div class="menu">
    <ul>
        <li><a href="/home">Log Out</a></li>
        <li><a href="/modes/{{currentUserId}}">Modes</a></li>
        <li><a href="/contacts/{{currentUserId}}/~/~">Contacts</a></li>
        <li><a href="/myAccount/{{currentUserId}}">My Account</a></li>
        <li class="user">
            <div>Hi {{user.firstName}} {{user.lastName}}</div>
        </li>
    </ul>
</div>

<img id="logo" src="/static/logo.png" class="logoSmall">
<!-- Source: https://www.flaticon.com/free-icon/contacts_969312 -->

<!-- READ and UPDATE Users -->

<div class="center">
    <h1>My Account</h1>
    <h3>It's nice to see you again, {{user.firstName}}. <br> Is everything here up-to-date?</h3>
</div>

<form id="update-user" action="/myAccount" method="post">
    <fieldset>
        <div class="spacerSmall"></div>
        <label>First Name: </label>
        <input type="text" class="formControlAlt" name="firstName" value="{{user.firstName}}" id="firstName" maxlength="50">
        <div class="spacerSmall"></div>
        <label>Last Name: </label> 
        <input type="text" class="formControlAlt" name="lastName" value="{{user.lastName}}" id="lastName" maxlength="50">
        <div class="spacerSmall"></div>
        <label>Phone: </label>  
        <input type="text" class="formControlAlt" name="phone" value="{{user.phone}}" id="phone" maxlength="50">
        <div class="spacerSmall"></div>
        <label>Email: </label> 
        <input type="text" class="formControlAlt" name="email" value="{{user.email}}" id="email" maxlength="50">
        <button onclick="updateUser({{currentUserId}})" class="formButton">Update</button>
    </fieldset>
</form>
<br>

<div class="center">
    <button onclick="location.href='/contacts/{{currentUserId}}/~/~'" class="navButton">Continue to Contacts &raquo;</button>
</div>
